#app {
  min-height: 100vh;
  height: 100%;
  background: #ff8a4b;
}

#category-tab {

}

.category-tab-item > a {
  color: #FFF;
}

.product-name {
  font-size: 18px;
  margin-bottom: 10px;
}

.product-component > .card > .card-content {
  text-align: center;
}

.button-vertical-group  > li {
  margin-bottom: 5px;
}